

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #5ba1fb; /* Background color of the webpage */
    height: 100%; /* Ensure at least the body fills the viewport height */
    min-height: 100%;
    margin: 0; /* Reset any default margins */
    position: relative;
    
    
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #5ba1fb;
    transform: translateY(-35px); /* Moves the button up by 5 pixels */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    margin-left: auto;
    margin-right: 50px;
    margin-top: 40px;
}

.nav-item {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-item:hover {
    text-decoration: underline;
}

#nameSelect {
    padding: 10px 35px;
    border: none;
    background-color: white;
    color: #5378ff;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
    font-family: 'keter YG';
    font-size: 20px;
    
}



.lowered-item {
    margin-top: 10px;
    color: white;  /* Adjust this value as needed */
    font-weight: bold;

}

#selectionScreen {
    margin: 0 auto; /* This will center the element */
    max-width: 640px; /* Adjust max-width as needed */
    width: fit-content;
}





/* Game Screen Styles */
#gameScreen {
    position: relative;
   
    padding: 20px;
    display: block;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 90%;
    margin: 0;

    
    
    
}


button {
    font-size: 20px;
    margin-top: 20px;
}


#flashcard {
    
    padding: 20px;
    margin-left: 470px;
    width: 620px;
    font-size: 80px;
    font-family: 'Luminari';
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px rgba(244, 41, 98, 0.8); /* Text shadow for a lifted text effect */
    position: relative;
    bottom: -50px;
    top: 1px;
    
    
    
       
    } 
  


    #userAnswer {
        width: 20%; /* Adjust the width as needed */
        height: 80px;
        padding: 10px 15px;
        margin-top: -1px;
        margin-left: 460px;
        margin-bottom: 35px;
        font-size: 2.5rem; /* Makes the text larger and easier to read */
        border: 1.5px solid white; /* A solid border with a color that stands out */
        border-radius: 14px; /* Rounded corners for a modern look */
        outline: none; /* Removes the default focus outline */
        transition: border-color 0.3s ease-in-out; /* Smooth transition for interactions */
        z-index: 1;
        background-color: #5ba1fb;
        color: white;
        text-align: center;
        font-family: 'Luminari';
        font-weight: bold;
        text-shadow: 1px 1px 2px rgba(244, 41, 98, 0.8); /* Text shadow for a lifted text effect */
        box-shadow: 
        0 4px 6px 0 rgba(244, 41, 98, 0.4), /* Subtle shadow for depth */
        0 4px 12px 0 rgba(237, 9, 127, 0.4); /* Darker shade for 3D effect, matches button color */
    }  
    
    #userAnswer:focus {
        border-color: white; /* Darker border when the input is focused */
       
    }
    


    /* removing the scrolling bar in the input message */
    /* For Chrome, Safari, and Edge */
    #userAnswer::-webkit-inner-spin-button,
    #userAnswer::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

   
#selectionScreen, #gameScreen, #flashcard {
    max-width: 100%;
}

    
     
  
/* לבדיקה אם התשובה נכונה */
.submit-button {
    background-color: #fe4c88; /* Green background */
    padding: 8px 30px;
    font-weight: bold;
    color: white; /* White text */
    border: none;
    border-radius: 14px;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 
        0 4px 10px rgba(244, 41, 98, 0.5), /* Subtle shadow for depth */
        0 8px 12px rgba(237, 9, 127, 0.4); /* Darker shade for 3D effect, matches button color */
    transition: all 0.3s ease;
    position: absolute;
    top: 240px;
    z-index: 1;
    text-shadow: 1px 1px 2px rgba(244, 41, 98, 0.8); /* Text shadow for a lifted text effect */
    left: 810px; /* Adjust the value as needed */
    transform: translateX(-50%);
    font-family: 'keter YG';
    
   
}


.submit-button:hover {
    box-shadow: 
        0 10px 14px rgba(244, 9, 98, 0.6), /* Slightly larger shadow on hover */
        0 14px 18px rgba(237, 9, 127, 0.6); /* Darker and larger shadow for 3D effect on hover */
    
}

.submit-button:active {
    box-shadow: 
        0 4px 6px rgba(244, 9, 98, 0.2), /* Smaller shadow for pressed effect */
        0 6px 8px rgba(237, 9, 127, 0.3); /* More subtle 3D effect for pressed state */
    transform: translateY(2px); /* Push the button down */


}


/* Base Cloud Styles */
.cloud {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    /* Position the clouds as needed */
    top: 35%;
    left: 8%;
    z-index: 2;
}

/* Each cloud is composed of several circles to create a fluffy look */
/* Adjust the size of these circles to make the overall cloud smaller */
.cloud::before,
.cloud::after {
    content: '';
    position: absolute;
    background: #fff;
    border-radius: 50%;
}

/* The first pseudo-element for additional fluff on top-left */
.cloud::before {
    top: -12px; /* Adjust as needed */
    left: 12px; /* Adjust as needed */
    width: 50px; /* Smaller width for a smaller cloud */
    height: 40px; /* Smaller height for a smaller cloud */
}

/* The second pseudo-element for additional fluff on top-right */
.cloud::after {
    top: -5px; /* Adjust as needed */
    right: -10px; /* Adjust as needed */
    width: 80px; /* Smaller width for a smaller cloud */
    height: 60px; /* Smaller height for a smaller cloud */
}

/* Additional pseudo-elements can be added for more fluffiness if needed, e.g., */
.cloud::after {
    content: '';
    position: absolute;
    width: 60px; /* Smaller width for a smaller cloud */
    height: 30px; /* Smaller height for a smaller cloud */
    background: #fff;
    border-radius: 50%;
    top: 10px;
    left: 20px; /* Adjust the left property to position your cloud shapes */
}

/* Adjust the width and height for main cloud body */
.cloud {
    width: 100px; /* Adjust width for main cloud body */
    height: 35px; /* Adjust height for main cloud body */
}

/* If you have a right cloud, adjust it similarly */
.right-cloud {
    right: 0; /* Adjust the right property as needed */
    left: auto;
    
}


.grass {

width: 100%;
height: 130px; /* Height of the grass */
background: linear-gradient(
    to bottom,
    #9dc055 0%,    /* Olive green at the top */
    #35d735 50%,   /* Lime green in the middle */
    #99FF99 100%); /* Forest green at the bottom */
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
z-index: 0; /* Ensure the grass is above the sea */
position: fixed;
bottom: 0;

}




/* Sea Styles */
.sea {
height: 110px; /* Height of the sea */
background-color: #008dff; /* Blue color for the sea */
/* Other styling as needed */
background: linear-gradient(to top, #0B3D91 0%, #008dff 100%); /* Darker blue at the bottom, matching the sky color at the top */
/* Adjust the colors to match your sky and grass colors */
width: 100%;
position:fixed;
z-index: 1;
bottom: 110px;
left: 0;


}




/* Panda Image Styles */

#pandaImage {
    position: absolute;
    bottom: -275px;
    left:25%;
    transform: translateX(-50%);
    width: 24%;
    height: auto;
    z-index: 2;
    
}



.math-type-buttons {
    display: flex;
    justify-content: center; /* Center aligned */
    gap: 30px;
    margin-bottom: 20px;
    margin-left: 250px;
}

.math-symbol {
    font-size: 100px; /* Responsive font size */
    cursor: pointer;
    user-select: none;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

.addition { color: #ffc301; } /* Tomato color for addition */
.subtraction { color: #00abfe; } /* DodgerBlue color for subtraction */
.multiplication { color:#32cd32 ; } /* LimeGreen color for multiplication */
.division { color: #fe4c88; } /* Orange color for division */

.math-symbol:hover {
    transform: translateY(-2px) scale(1.1); /* Lift and enlarge the symbol */
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.math-symbol:active {
    transform: translateY(1px) scale(1.05); /* Slightly press down and enlarge */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}


/* level buttons */

.btn-level-group {
    position: relative; /* Add relative positioning */
    right: -140px; /* Adjust this value to move the group to the left */
    display: flex;
}



.btn-level-1 {
    background-color: #ffc301; /* Yellow background */
    color: white; /* White text */
    font-weight: bold;
    padding: 10px 50px;
    border: none;
    border-radius: 14px; /* Rounded corners */
    font-size: 40px;
    cursor: pointer;
    box-shadow: 
        0 8px 12px rgba(244, 41, 98, 0.5), /* Subtle shadow for depth */
        0 12px 16px rgba(237, 9, 127, 0.4); /* Darker shade for 3D effect, matches button color */
    transition: all 0.3s ease;
    font-family: 'Luminari';
    margin-left: 10px;
    text-shadow: 1px 1px 2px rgba(244, 41, 98, 0.8); /* Text shadow for a lifted text effect */
    position: relative; /* Needed for the active state */
}

.btn-level-1:hover {
    box-shadow: 
        0 10px 14px rgba(244, 9, 98, 0.6), /* Slightly larger shadow on hover */
        0 14px 18px rgba(237, 9, 127, 0.6); /* Darker and larger shadow for 3D effect on hover */
    
}

.btn-level-1:active {
    box-shadow: 
        0 4px 6px rgba(244, 9, 98, 0.2), /* Smaller shadow for pressed effect */
        0 6px 8px rgba(237, 9, 127, 0.3); /* More subtle 3D effect for pressed state */
    transform: translateY(1px); /* Push the button down */
}

.btn-level-2 {
    background-color: #ffc301; /* Yellow background */
    color: white; /* White text */
    font-weight: bold;
    padding: 10px 40px;
    border: none;
    border-radius: 14px; /* Rounded corners */
    font-size: 40px;
    cursor: pointer;
    box-shadow: 
        0 8px 12px rgba(244, 41, 98, 0.5), /* Subtle shadow for depth */
        0 12px 16px rgba(237, 9, 127, 0.4); /* Darker shade for 3D effect, matches button color */
    transition: all 0.3s ease;
    font-family: 'Luminari';
    margin-left: 10px;
    text-shadow: 1px 1px 2px rgba(244, 41, 98, 0.8); /* Text shadow for a lifted text effect */
    position: relative; /* Needed for the active state */
}

.btn-level-2:hover {
    box-shadow: 
        0 10px 14px rgba(244, 9, 98, 0.6), /* Slightly larger shadow on hover */
        0 14px 18px rgba(237, 9, 127, 0.6); /* Darker and larger shadow for 3D effect on hover */
    
}

.btn-level-2:active {
    box-shadow: 
        0 4px 6px rgba(244, 9, 98, 0.2), /* Smaller shadow for pressed effect */
        0 6px 8px rgba(237, 9, 127, 0.3); /* More subtle 3D effect for pressed state */
    transform: translateY(1px); /* Push the button down */
}



.btn-level-3 {
    background-color: #ffc301; /* Yellow background */
    color: white; /* White text */
    font-weight: bold;
    padding: 10px 40px;
    border: none;
    border-radius: 14px; /* Rounded corners */
    font-size: 40px;
    cursor: pointer;
    box-shadow: 
        0 8px 12px rgba(244, 41, 98, 0.5), /* Subtle shadow for depth */
        0 12px 16px rgba(237, 9, 127, 0.4); /* Darker shade for 3D effect, matches button color */
    transition: all 0.3s ease;
    font-family: 'Luminari';
    margin-left: 10px;
    text-shadow: 1px 1px 2px rgba(244, 41, 98, 0.8); /* Text shadow for a lifted text effect */
    position: relative; /* Needed for the active state */
}

.btn-level-3:hover {
    box-shadow: 
        0 10px 14px rgba(244, 9, 98, 0.6), /* Slightly larger shadow on hover */
        0 14px 18px rgba(237, 9, 127, 0.6); /* Darker and larger shadow for 3D effect on hover */
    
}

.btn-level-3:active {
    box-shadow: 
        0 4px 6px rgba(244, 9, 98, 0.2), /* Smaller shadow for pressed effect */
        0 6px 8px rgba(237, 9, 127, 0.3); /* More subtle 3D effect for pressed state */
    transform: translateY(1px); /* Push the button down */
}






/* התחל button */
.Startgame {
    background-color: #fe4c88; /* Green background */
    padding: 10px 50px;
    font-weight: bold;
    color: white; /* White text */
    padding: 10px 80px;
    border: none;
    border-radius: 14px;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 
        0 8px 12px rgba(244, 41, 98, 0.5), /* Subtle shadow for depth */
        0 12px 16px rgba(237, 9, 127, 0.4); /* Darker shade for 3D effect, matches button color */
    transition: all 0.3s ease;
    position: absolute;
    top: 335px;
    z-index: 3;
    text-shadow: 1px 1px 2px rgba(244, 41, 98, 0.8); /* Text shadow for a lifted text effect */
    left: 800px; /* Adjust the value as needed */
    transform: translateX(-50%);
    font-family: 'keter YG';
   
}


.Startgame:hover {
    box-shadow: 
        0 10px 14px rgba(244, 9, 98, 0.6), /* Slightly larger shadow on hover */
        0 14px 18px rgba(237, 9, 127, 0.6); /* Darker and larger shadow for 3D effect on hover */
    
}

.Startgame:active {
    box-shadow: 
        0 4px 6px rgba(244, 9, 98, 0.2), /* Smaller shadow for pressed effect */
        0 6px 8px rgba(237, 9, 127, 0.3); /* More subtle 3D effect for pressed state */
    transform: translateY(2px); /* Push the button down */

}






@media screen and (max-width: 600px) {

    .body{
        height: 25%;
    }
    .navbar {
        flex-direction: column;
        padding: 5px 10px;
    }
    .nav-links {
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }
    .nav-item {
        font-size: smaller; /* Adjust the font size */
    }

}

@media screen and (max-width: 600px) {
     #gameScreen, #flashcard, #userAnswer {
        margin-left: auto;
        margin-right: auto;
        width: 80%; /* Adjust width for smaller screens */
    }

   

    #flashcard, #userAnswer {
        font-size: smaller; /* Adjust font size */
    }


    .grass {
        position: absolute;
        bottom: -600px;
        left: 0;
        width: 100%;
        height: 30%;
        
        
        }

    .sea{
        position: absolute;
        width: 100%;
        height: 25%;
        bottom: -510px;
    }

    #pandaImage{
        position: absolute;
        bottom: -160vw;
        width: 200px; /* Or whatever new width you want */
        height: auto; /* This will maintain the aspect ratio */
        left: 50%;
        
        


        
    }

    .btn-level-group{
        position: absolute;
        max-width: 100%;
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
        margin-top: 20px;
        
        
    }

    .btn-level-1, .btn-level-2, .btn-level-3{
        font-size: 30px;
    }

    .Startgame {
       
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
        border-radius: 14px;
        font-size: 30px;
        position: absolute;
        top: 530px;
        padding: 5px 20px;
        
    }

    .math-type-buttons{
        display: flex;
        justify-content: center; /* This will center the children horizontally in the container */
        gap: 30px;
        margin: 20px auto 0; /* Top margin 20px, horizontal margins auto, bottom margin 0 */
        max-width: 100%; /* Ensures the container does not exceed the width of its parent */ 
        
    }


        /* Adjust the main cloud size for mobile */
        .cloud {
            width: 40px; /* Smaller width for a smaller cloud */
            height: 15px; /* Smaller height for a smaller cloud */
            top: auto;
            bottom: -125%;
            left: 8%;
            z-index: 2;
            
        }
    
        /* Adjust the pseudo-elements for the cloud fluff */
        .cloud::before,
        .cloud::after {
            content: '';
            position: absolute;
            background: #fff;
            border-radius: 50%;
        }
    
        .cloud::before {
            top: -7px; /* Adjust as needed for mobile */
            left: 7px; /* Adjust as needed for mobile */
            width: 20px; /* Smaller width for a smaller cloud */
            height: 15px; /* Smaller height for a smaller cloud */
        }
    
        .cloud::after {
            top: -3px; /* Adjust as needed for mobile */
            right: -5px; /* Adjust as needed for mobile */
            width: 25px; /* Smaller width for a smaller cloud */
            height: 20px; /* Smaller height for a smaller cloud */
        }
    
        /* If you have a right cloud, adjust its size similarly */
        .right-cloud {
            right: 8%; /* Adjust the right property as needed for mobile */
            left: auto;
            width: 40px; /* Adjust width for main cloud body */
            height: 15px; /* Adjust height for main cloud body */
        }
    }
    

























